/* .bro{
    border: 3px solid black;
    padding: 2px;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #db890d;
} */

.bro{
    font-size: 1.7rem;
    
}